body{
    background: #151515;
}

.site{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container{
    margin-top: 60px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
   
}

.perfil h1{   
    color:#fff;

}

.perfil img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    border-radius: 300px;
    position: relative;



}
.perfil:hover img{
    transition: 0.3s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.descricao{
    background: rgb(44,44 , 44);
    border-radius: 15px;
    margin-left:  10px;
    margin-right: 10px;
    width: 300px;
    
}

.descricao h1{
    margin: 20px;
    font-size: 20px;
    font-weight: normal;
    color: white;
}


.redesocial button{
    cursor: pointer;
    border: none;
    background: none;
    color: #8A3A2A;
    margin: 50px;

}